<div class="input-wrapper" [formGroup]="formGroup" *ngIf="formGroup && control">
	<button type="button" class="fast-select-button min-button" (click)="setControlValue(min)">MIN {{min | shortNumber}}</button>

	<div class="center-section">
		<input #rangeInput appNumberWithSpaces [formControl]="control" type="text" class="range-input">
		<div class="ticks-wrapper">
			<ul class="ticks-list">
				<li class="tick-wrapper" *ngFor="let tick of ticks;"
					[style.left.%]="getPercentageOffsetFromLeftByValue(tick)">
					<span class="tick" tabindex="0" (keyup.enter)="setControlValue(tick)" (click)="setControlValue(tick)"
				>{{tick | shortNumber}}</span>
				</li>
			</ul>
			<app-horizontal-slider [leftOffset]="handlerLeftOffset" (valueChange)="onSliderDragEmit($event)" [min]="min"
				[max]="max"></app-horizontal-slider>
		</div>

	</div>
	<button class="fast-select-button max-button" type="button"  (click)="setControlValue(max)">MAX {{max | shortNumber}}</button>

</div>